#username, #email, #password, #professional_level{
    padding: 17px 20px 13px 20px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: rgba(0, 0, 0, 0.5);
}