dialog::backdrop {
    background-color: rgb(0 0 0 / .5);
}

dialog {
    border: none;
    width: 750px;
    height: 670px;
    background: var(--color-grey-800);
    border-radius: 10px;
}

.department-name, .department-create, .department-delete, .user-delete, .user-edit {
    font-family: 'Poppins';
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-9);
    line-height: 54px;
    color: var(--color-grey-100);
}

.department-delete, .user-delete {
    text-align: center;
}

#name-department, #name-user {
    color: var(--color-brand-1);
}

.department-description {
    margin-top: 30px;
    font-family: 'Poppins';
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-3);
    line-height: 30px;
    color: var(--color-grey-100);
}

.department-company {
    margin-top: 11px;
    font-family: 'Poppins';
    font-size: var(--font-size-2);
    line-height: 27px;
    color: var(--color-grey-100);
}

.div-select {
    width: 50%;
}

#user-select {
    margin-top: 25px;
    padding: 17px;
    width: 100%;
    font-size: var(--font-size-3);
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    outline: none;
}

.list-employees {
    gap: 31px;
    margin-top: 51px;
    width: 100%;
    height: 300px;
    background-color: var(--color-grey-700);
    overflow-x: auto;
    overflow-y: hidden;
    padding: 43px 33px;
}

.employee {
    padding: 18px 30px;
    gap: 10px;
    min-width: 300px;
    height: 200px;
    background-color: var(--color-grey-800);
    border-bottom: 1px solid var(--color-brand-1);
}

.employee>.name {
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-3);
    line-height: 24px;
    color: var(--color-grey-100);
}

.employee>.profissional_level, .employee>.company-name {
    font-size: var(--font-size-2);
    line-height: 22px;
    color: var(--color-grey-100);
}

#info-department {
    padding-left: 43px;
    padding-right: 43px;
}

#edit-department, #create-department, #edit-user, #edit-info-user {
    width: 506px;
    height: max-content;
}

#edit-department>div, #create-department, #edit-info-user {
    padding: 0 30px;
}

#delete-department, #delete-user {
    height: max-content;
}

#edit-user>div {
    padding: 23px 27px;
}

.edit-user {
    font-family: 'Poppins';
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-9);
    line-height: 54px;
    color: var(--color-grey-100);
    margin-bottom: 20px;
}

#form-edit-user {
    gap: 13px;
}

#kind_of_work, #professional_level {
    padding: 17px;
    background: var(--color-grey-800);
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: var(--font-size-2);
    line-height: 21px;
    color: rgba(0, 0, 0, 0.5);
}